/* Le CSS va ici */
body { padding: 1em; min-width: 690px; background-color: #293133; color: white; }
h1 { text-align: center; margin-bottom: 2em; }
input[type="text"] { width: 360px; color: black; }
input[type="radio"] { margin: 2px 5px; vertical-align: text-bottom;; }
form { margin: 0 auto; }

#choices { padding-top: 1em; }
#game-container { margin: 0; }
#submit-container { margin-top: 1em; text-align: center; }
#values-column { padding-left: 1em; width: 45%; color: yellow; }
#labels-column { width: 50%; text-align: right; vertical-align: top; }
#home-title:hover { cursor: pointer; }
.choice { padding: 0.3em; font-size: 16px }
.choice:hover { background-color: #394143; border-radius: 5px; cursor: pointer; }
.choice label { width: 90%; margin-top: 0; cursor: pointer; }
.column { display: inline-block; padding: 0}
